body {
    margin: 0px;
}

.navigation {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr;
    align-items: center;
    width: 100%;
}

.logo {
    /* padding: 1%; */
}

.content {
    /* padding-right: 20px; */
    /* margin: 0 auto; */
    display: grid;
    justify-content: start;
}

nav {
    /* width: 73%; */
    /* padding: 1%; */
    display: inline-block;
}

nav ul {
    /* width: 50%;*/
    /* margin-block-start: 0em !important;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px; */
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    list-style-type: none;
    /* float: left;
    margin: 0px 65px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 107.5px;
    padding: 0 20px;
}

main {
    background-color: #f5f5f4;
    padding: 20px;
}

.heroImg {
    width: 50%;
    padding: 25px;
}

.heroImg img {
    width: 100%;
}

.container {
    display: flex;
}

.text-content {
    flex: 1;
}

.text-content p {
    margin-bottom: 20 px;
}


.container p {
    display: inline-block;
}

footer { 
    padding: 20px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

footer ul li {
    padding: 10px;
    display: inline-block;
    /* margin-right: 10px; */
}

.flexContainer {
    display: flex;
}

.flexChild {
    width: 33%;
    margin: 0 10px;
    padding: 10px;
}

.workGrid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'project1 project 2 project3';
    grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
    /* CSS styles for smaller screens */
    body {
        font-size: 14px;
    }
    nav ul li {
        /* margin: 0px 12px; */
    }
    .flexcontainer {
        flex-direction:column;
    }
    .flexChild {
    width: 100%;
    }
    .workGrid {
        display: grid;
        grid-template-areas:
            'project1'
            'project2'
            'project3';
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}